.shopItem {
  border: 4px solid $primary-red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: $white;

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  &Category {
    padding: 5px 8px;
    background: $secondary-red;
    color: #fff;
    text-transform: uppercase;
    align-self: center;
    font-size: 12px;
  }
}
