.services__item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 30px;
    color: #ffff;
    max-width: 605px;
    width: 100%;
    cursor: pointer;

    &.active {
        background: linear-gradient(90deg, #C53720 0%, rgba(197, 55, 32, 0) 96.86%);
        box-shadow: 0px 4px 4px 0px #00000040;
        clip-path: polygon(5% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
    }
}

@media(max-width: 767px) {
    .services__item {
        img {
            width: 80px;
        }
    }
}
