.inputField {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    color: $white;
  }

  input {
    background: none;
    border: 2px solid $white;
    padding: 8px;
    color: $white;

    &:focus {
      border: 2px solid $primary-red;
      outline: none;
    }
  }
}