.heroSlider {
  position: relative;
  width: 100%;
  overflow: hidden;

  .image {
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    transition: background-image 0.5s ease-in-out;
  }

  .content {
    max-width: 700px;
  }

  .pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    .paginationDot {
      width: 110px;
      height: 4px;
      background-color: $white;
      cursor: pointer;

      &.active {
        background-color: $secondary-red;
      }
    }
  }
}
