.services__list-info {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;


  .services__list-column {
    width: 100%;
    max-width: 600px;
  }
}

@media(max-width: 1300px) {
  .services__list-info {
    flex-direction: column-reverse;
  }
}