.about-section {
  background-image: url("../../../assets/image-bg.png");
  padding: 100px 0;
}

.about-block {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin: 0 auto;
}

.about-info {
  padding: 20px;
  border: 4px solid #D42E12;
  background: #0E0E0E99;

  .text {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
}

@media(max-width: 767px) {
  .about-block {
    flex-direction: column-reverse;
    align-items: center;
  }
}

