.loginForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background: #1D1D1D;
  padding: 40px;
  border: 4px solid $secondary-red;

  .register {
    border: 2px solid $secondary-red;
    padding: 10px;
    text-align: center;
  }

  .loginFormGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .errorText {
    color: $primary-red;
    font-size: 12px;
  }
}